<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to the Puppy Adoption Site</title>
  </head>
  <body>
    <h1>Please enter the information for your puppy.</h1>
      <form method="POST" action="/">
        <p>Puppy Name: <input type="text" name="puppy"></p>
        <p>Puppy Breed: <input type="text" breed="breed"></p>
        <p>Puppy Age: <input type="text" age="age"></p>
        <input type="submit" id="Submit">
      </form>
  </body>
</html>
