<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to the Puppy Adoption Site</title>
  </head>
  <body>
    <h1>Please see the information regarding the new puppy.</h1>
      <p> Puppy Name: <%= @puppy_information.name %> </p>
      <p> Puppy Breed: <%= @puppy_information.breed %> </p>
      <p> Puppy Age: <%= @puppy_information.age %> </p>
  </body>
</html>
